<br>
<h1 class="text-center">Welcome to Pro | Con !</h1>
<p class="text-center lead">
	This application helps you make difficult decisions by allowing you to create a pro/con list for each dilemma.  You can then add weighted pros and cons to the list, which will calculate overall if it is a pro or a con.
	</p>
	<p class="text-center lead">Pro | Con is developed by <a href="http://matthewmosher.us">Matthew Mosher</a> ©2013.
	<% if user_signed_in? %>
	Suggestions?  <a href="mailto:me@matthewmosher.us?Subject=Pro|Con%20Suggestion">Email me!</a>
	<% end %>
	</p>
