<br>
<h1 class="text-center">Welcome to Pro | Con !</h1>
<p class="text-center lead">
	This application helps you make difficult decisions by allowing you to create a pro/con list for each dilemma.  You can then add weighted pros and cons to the list, which will calculate overall if it is a pro or a con.
	</p>
