<%= form_for([@dilema, @dilema.cons.build]) do |f| %>
  <div class="form-inline">
    <% f.label :name %>
    <%= f.text_field :name, placeholder: 'New Con?', class: "span4" %>
	<% f.label :value %>
    <%= f.select :value, [1, 2, 3, 4, 5], {}, class: "span1" %>
    <%= f.submit "Add Con", class: 'btn' %>
  </div>
<% end %>